header.header 
  .header__decoration-circle_linear.header__decoration-circle_big-top
  .container.header__container
    nav.nav 
      a.nav__logo 
        .nav__logo-symbol
        img.nav__logo-img(src="@img/NFT.svg", alt="nft")
      input.burger__toggle#burger-toggle(type="checkbox")
      label.burger(for="burger-toggle")
        span.burger__line
      ul.nav__list 
        li.nav__item
          a.nav__link(href="#hero") Главная 
        li.nav__item
          a.nav__link(href="#study") Что даст обучение
        button.button.nav__button
          a Личный кабинет
