.hero 
  .container.hero__container
    h1.hero__title
      | Не упусти <br> возможность войти <br> в <b>прибыльную нишу</b>
    img.hero__img(src='@img/hero.png')
    p.hero__description 
      | Получи все нужные навыки для заработка <br>на NFT всего за 28 дней!
    button.hero__button.button_colored Начать зарабатывать на NFT
    