dialog.modal
  .modal__decoration-circle_linear-green.modal__decoration-circle_big-top
  .modal__container
    h2.modal__title 
      |Начни прямо сейчас!
    p.modal__description 
      |Получи все нужные навыки для заработка на NFT всего за 28 дней!
    form.modal__form(action="") 
      input.modal__input(type="email", placeholder="Ваш email")
      button.button_colored(type="button") Оплатить
  button.modal__close-button(type="button")
    img.modal__close-img(src="@img/close.svg", alt="close")