section.study#study
  .study__container.container
    .study__decoration-circle_radial-blue.study__decoration-circle_blue-top
    .study__decoration-circle_radial-purple.study__decoration-circle_purple-top
    .study__decoration-circle_radial-purple-blured.study__decoration-circle_purple-bottom
    .study__decoration-circle_linear.study__decoration-circle_big-top
    .study__decoration-circle_linear.study__decoration-circle_big-bottom
    h2.study__title
      |Что даст тебе обучение?
    .study__card-container 
      .study__card
        img.study__card-img(src="@img/wallet.png", alt="wallet")
        p.study__card-text 
          |Откроешь свой первый криптокошелек и научишься с ним работать
      .study__card
        img.study__card-img(src="@img/drops.png", alt="drops")
        p.study__card-text 
          |Поймёшь, как выбирать правильные дропы
      .study__card
        img.study__card-img(src="@img/plan.png", alt="plan")
        p.study__card-text 
          |Построишь план по быстрому приумножению заработанных средств
      .study__card
        img.study__card-img(src="@img/holders.png", alt="holders")
        p.study__card-text 
          |Узнаешь кто такие холдеры и флипперы
