.button {
  background-color: transparent;
  font-weight: 500;
  color: $color-white;
  padding: 16px 22px;
  border: 1px solid $color-white;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    color: $color-hover;
    border: 1px solid $color-hover;
  }

  &:active {
    background-color: $color-active;
  }
  

  &_colored {
    position: relative;
    //background: rgb(29,216,68);
    background: linear-gradient(90deg, rgba(29,216,68,1) 0%, rgba(203,246,46,1) 100%);
    color: $background;
    font-size: 20px;
    font-weight: 500;
    font-family: gtwalsheimpro_condensedmedium;
    padding: 20px 30px;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.3s;
    
    &::after {
      content: "";
      position: absolute;
      inset: -4px; 
      border-radius: 20px;
      background: linear-gradient(to bottom right, rgba(0, 255, 81, 0.5), rgba(255, 213, 0, 0.5)); /* Градиент */
      filter: blur(4px);
      z-index: -1;
    }

    &:hover::after {
      inset: -8px
    }

    &:active {
      -webkit-box-shadow: 0px 10px 10px -5px rgba(34, 60, 80, 0.2) inset;
      -moz-box-shadow: 0px 10px 10px -5px rgba(34, 60, 80, 0.2) inset;
      box-shadow: 0px 10px 10px -5px rgba(34, 60, 80, 1) inset;
    }
  }
}

@media(width <= 767px) {
  .button {
    &_colored {
      font-size: 16px;
    }
  }
}