.header {
  background-color: $background;
  padding-top: 30px;

  &__decoration-circle {
    &_linear {
      @include circle-gradient(
        $gradient-type: linear,
        $size: 415px,
        $filter: blur(172px)
      )
    }

    &_big-top {
      transform: translate(-60%, -50%);
    }
  }
}

@media(width <= 991px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    z-index: 999;
  }
}

@media(width <= 575px) {
  .header {
    padding-top: 20px;
  
    &__decoration-circle {
      &_linear {
        @include circle-gradient(
          $gradient-type: linear,
          $size: 237px,
          $filter: blur(172px)
        )
      }

      &_big-top {
        top: 0;
        left: -85px;
      }
    }
  }
}