.study {
  position: relative;
  background-color: $background;
  border-radius: 20px;
  margin-top: 195px !important;
  padding: 130px 0;

  &__decoration-circle {

    &_radial-blue {
      @include circle-gradient(
        $gradient-type: radial-blue,
        $size: 84px,
      );
      z-index: 1
    }

    &_blue-top {
      left: 164px;
      top: 104px;
    }

    &_radial-purple {
      @include circle-gradient(
        $gradient-type: radial,
        $size: 152px
      )
    }

    &_purple-top {
      top: -90px;
      right: 95px;
    }

    &_radial-purple-blured {
      @include circle-gradient(
        $gradient-type: radial,
        $size: 152px,
        $filter: blur(24px)
      )
    }

    &_purple-bottom {
      right: 143px;
      bottom: 107px;
    }

    &_linear {
      @include circle-gradient(
        $gradient-type: linear,
        $size: 440px,
        $filter: blur(172px)
      )
    }

    &_big-top {
      top: 0;
      right: 0;
    }

    &_big-bottom {
      bottom: 0;
      left: 0;
    }
  }

  &__container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: $color-white;
    font-size: 45px;
    font-weight: 600;
    z-index: 2;
  }

  &__card {
    background-color: rgba(51, 62, 81, 0.6);
    border-radius: 20px;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 0 70px 0;
    position: relative;
    z-index: 100;

    &::before {
      content: '';
      position: absolute;
      background-color: rgba(51, 62, 81);
      filter: saturate(0.6);
      z-index: -1;
      width: 300px;
      height: calc(100% - 20px);
      border-radius: inherit;
      top: 0
    }

    &-container {
      margin-top: 65px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 90px;
      row-gap: 70px;
    }

    &-img {
      width: 117px;
     }

    &-text {
      color: $color-white;
      font-size: 19px;
      line-height: 25px;
      letter-spacing: -0.7px;
      align-items: center;
      text-align: center;
      margin-top: 23px;
    }
  }
}

@media(width <= 767px) {
  .study {
    margin-top: 70px;
    padding-top: 40px;

    &__title {
      font-size: 23px;
      text-align: center;
      padding: 0 2rem;
    }

    &__card-container {
      display: flex;
      flex-direction: column;
    }

    &__decoration-circle {
      &_radial-blue {
        @include circle-gradient(
          $gradient-type: radial-blue,
          $size: 22px,
        )
      }

      &_blue-top {
        left: 20px;
        top: 103px;
      }

      &_radial-purple {
        @include circle-gradient(
          $gradient-type: radial,
          $size: 88px
        );

        &-blured {
          @include circle-gradient(
            $gradient-type: radial,
            $size: 63px,
            $filter: blur(17px)
          )
        }
      }

      &_purple-top {
        transform: translate(100%, 50%);
      }

      &_purple-bottom {
        right: 10px;
        bottom: 10px;
      }

      &_linear {
        @include circle-gradient(
          $gradient-type: linear,
          $size: 137px,
          $filter: blur(172px)
        )
      }

      &_big-top {
        transform: translateY(-50%);
        right: 0;
      }

      &_big-bottom {
        display: none;
      }
    }
  }
}