doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='description' content='content')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    link(href='css/style.min.css' rel='stylesheet')
    title ts_tz
  body
    include html/_header.pug
    main#main
      include html/_hero.pug
      include html/_study.pug
      include html/_modal.pug

  script(src='js/app.min.js')